*{
    margin:100;
    padding:100;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

body{
    min-height:50vh;
    padding:30px;
}

h1{
    text-align:center;
    color:rgb(47, 44, 206);
    margin-bottom:25px;
    font-size:40px;
}

.new{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:20px;
    gap:15px;
}

.count-box{
    background:rgb(235, 228, 228);
    padding:15px 25px;
    border-radius:12px;
    box-shadow:0 4px 10px rgba(0,0,0,0.2);
    font-size:18px;
    font-weight:bold;
}

#total{
    color:#4b78a2;
    font-size:24px;
}

#search{
    padding:12px;
    width:250px;
    border:none;
    border-radius:10px;
    outline:none;
    font-size:15px;
    box-shadow:0 4px 10px rgba(0,0,0,0.2);
}

form{
    background:white;
    padding:20px;
    border-radius:15px;
    display:flex;
    flex-wrap:wrap;
    gap:15px;
    margin-bottom:25px;
    box-shadow:0 5px 15px rgba(0,0,0,0.2);
}

form input{
    flex:1;
    min-width:180px;
    padding:12px;
    border:1px solid #ccc;
    border-radius:10px;
    outline:none;
    font-size:15px;
}

form button{
    background:#28a745;
    color:white;
    border:none;
    padding:12px 20px;
    border-radius:10px;
    cursor:pointer;
    font-weight:bold;
    transition:0.3s;
}

form button:hover{
    background:#218838;
    transform:scale(1.05);
}

table{
    width:100%;
    border-collapse:collapse;
    background:white;
    border-radius:15px;
    overflow:hidden;
    box-shadow:0 5px 15px rgba(0,0,0,0.2);
}

th{
    background:#764ba2;
    color:rgb(18, 17, 17);
    padding:15px;
    font-size:14px;
}




